.header {
  margin-bottom: 32px;
}
.title {
  margin: 12px 0 0 !important;
}

.content {
  display: grid;
  gap: 64px;
  grid-template-columns: 54% 1fr;

  @media screen and (max-width: 1200px) {
    gap: 32px;
  }

  &--mobile {
    display: flex;
    flex-flow: column;
    gap: 32px;
    padding: 0 12px;
  }
}

.select-content {
  display: grid;
  grid-template-columns: calc(100% - 113px - 20px) 113px;
  align-items: center;
  gap: 20px;

  &--mobile {
    width: 100%;
    & > div {
      width: 100%;
    }
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    gap: 20px;
  }
}
