@import '../../mixins';
@import '../../variables';

.btn {
  @include displayFlexAIC;
  justify-content: center;
  border-radius: 12px;
  border: none;
  cursor: pointer;

  svg {
    margin-right: 12px;
  }
}

.blackBtn {
  background-color: transparent;
  border: 2px solid $purple;
  color: $lightPurple;
  transition: 0.2s;

  &:hover {
    border-color: $lightBorderForBlackBtn;
  }
  &:disabled {
    &:hover {
      border-color: $purple;
    }
  }
  span {
    color: $lightPurple;
  }
}

.lightBtn {
  background: linear-gradient(90deg, #4046eb 0%, #419fff 100%);
  color: $white;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

  &:hover {
    background-position: left bottom;
    background-color: linear-gradient(90deg, #4046eb 0%, #4046eb 100%);
  }
  span {
    color: $white;
  }
}

.wideBtn {
  width: 100%;
  padding: 16px 0;
}

@keyframes gradient {
  0% {
    background: linear-gradient(270deg, #28ec77 0.1%, #20a82e 1%);
  }
  50% {
    background: linear-gradient(270deg, #28ec77 0.1%, #20a82e 50%);
  }
  100% {
    background: linear-gradient(270deg, #28ec77 0.1%, #20a82e 100%);
  }
}

.greenBtn {
  border-radius: 12px;
  background-size: 200% 100%;
  background-position: right bottom;
  // background-color: #1c7e26;
  background-image: linear-gradient(270deg, #18be5a 1%, #1c7e26 100%);
  color: $white;
  transition: all 0.5s ease-out;

  &:not([disabled]):hover {
    background-position: left top;
    // background-color: #20a82e;
    // background: linear-gradient(270deg, #28ec77 0.01%, #20a82e 100%);
  }
  span {
    color: $white;
  }
  &:disabled {
    background-color: #1b7724;
    color: rgba(255, 251, 251, 0.803);
    opacity: 0.3;
    &:hover {
      background-color: #1b7724;
    }
  }
}
