@import '../../variables';
.customSelect {
  border-radius: 12px;
  background-color: $purple;
  color: $white;
  font-family: Bahnschrift;
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 12px;
  background: url("../../../../../assets/custom-select/arrow-down.png") no-repeat right $purple;

  option {
    color: #8774b8;
    font-family: Bahnschrift;
    font-size: 14px;
    font-weight: 600;
    // padding: 12px;

    &:hover {
      background-color: #281d42;
    }
  }
}
.arrowUp {
}
.arrowDown {
  transform: rotate(180deg);
}
.option-with-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.icon-in-option {
  width: 20px;
  height: 15px;
  margin-right: 8px;
  border-radius: 4px;
}
// .css-1xc3v61-indicatorContainer {
//   padding: 0 !important;
// }
.modal-header-with-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
