@import "../../variables";
.searchInputWrap {
  position: relative;
  width: calc(100% - 4px);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.searchInput {
  background-color: $purple;
  border: none;
  padding: 13px;
  padding-left: 48px;
  width: 100%;
  border-radius: 12px;
  font-size: 14px;
}
