@import '../../../variables';

.notificationModal {
  width: 470px;
  @media (max-width: $largeScreens) {
    width: 100%;
  }
  //   height: 200px;
}
.description {
  color: $lightPurple;
  margin-bottom: 32px;
}
.copyText {
  color: $lightPurple;
  font-size: 14px;
  margin-bottom: 12px;
}
.codeBtn {
  font-size: 16px;
  margin-bottom: 32px;
  width: 100%;
  height: 50px;
}
.boxButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-bottom: 32px;
}
.netWorkBtn {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  p {
    color: #8774b8;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }

  //   text-align: center;
  //   p {
  //     text-align: center;
  //   }
  &:hover {
    path {
      opacity: 1;
    }
  }
}
.iconInBtn {
  width: 24px;
  height: 24px;
  path {
    fill: rgba(135, 116, 184, 1);
    opacity: 0.7;
  }
  position: absolute;
  top: 13px;
  left: 12px;
}
.textOpenServers {
  color: #8774b8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: underline;
  opacity: 0.7;
  cursor: pointer;
}
.notificationInputWrap {
  position: relative;
}
.notificationInput {
  height: 50px;
  margin: 0 0 32px 0;
  color: $white;
  text-align: left;
}
.notificationCopy {
  position: absolute;
  top: 18px;
  right: 12px;
}
