@import '../../../variables';

.productItem {
  &Modal {
    width: 370px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lightBtn {
    width: 100%;
  }
  &Img {
    width: 200px;
    height: 200px;
    margin: 0 auto 32px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.blocking {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 20px;

  span {
    color: $lightPurple;
    font-size: 14px;
    font-weight: 600;
  }
}

.quantity {
  margin-bottom: 35px;

  h4 {
    color: $lightPurple;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &Block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.counter {
  border-radius: 12px;
  background-color: $purple;
  color: $white;
  padding: 16px 0;
  margin: 0 4px;
  width: 100%;
  text-align: center;
}

.plus {
  width: fit-content;
  padding: 13px 28px 10px;
  border-radius: 12px;
  border: 2px solid $purple;

  &Dis {
    opacity: 0.4;
  }
}

.totalAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;

  h4 {
    width: fit-content;
    color: $white;
    font-size: 14px;
    font-weight: 600;
  }

  span {
    color: $white;
    font-size: 18px;
    font-weight: 600;
  }
}
