.detail-table-item {
  &__status {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    display: flex;
    gap: 11px;
    align-items: center;

    span {
      text-transform: capitalize;
    }

    &::before {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      background: white;
      border-radius: 50%;
    }
  }


  &__success {
    &::before {
      background: #18BC59;
    }
    span {
      color: #18BC59;
    }
  }
}