@import './variables';
@import './normolize';
@import './mixins';
@import './global-styles';

@import './components/UI/btn';
@import './components/UI/table';
//cтраницы
@import './pages/profile';
@import './pages/information';
@import './pages/main';
//компоненты

@import './components/megaBuilderKitModal/megaBuilderKitModal';
@import './components/UI/modal';
@import './components/navbar';
@import './components/footer/footer';
@import './components/footer/monitoring-modal';
@import './components/customPage/list-sections';
@import './components/customPage/custom-page';
@import './components/profile/inventory';
@import './components/leaders/pedestal-item';
// @import './components/shop/modals/product-item';
@import './components/buySilver/buy-silver';
@import './components/select-server-modal/select-server-modal';
@import './components/funds-transfer-modal/funds-transfer-modal';
@import './components/shop/header-shop';
@import './components/shop/card';
@import './components/shop/modals/service-modal';
