$blue: #0463f1;
$white: #fff;
$contsct: #0d44d1;
$contsctDark: #083ec8;
$purple: #3a2964;
$lightBorderForBlackBtn: #523b8d;
$lightPurple: #8774b8;
$darkBlue: #171226;
$tableDark: #221939;
$tableLidhtDark: #281d42;
$green: #18bc59;
$orange: #ffb800;
$radioBlue: #4195fd;
$red: #e23939;

//media
$largeScreens: 1000px;
$miniWebScreens: 1280px;
$tabletScreens: 800px;
$mobileScreens: 500px;
