@import '../variables';
@import '../mixins';

.header-plug {
  height: 90px;
}

.header {
  background-color: $blue;
  height: 90px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &_inner {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $largeScreens) {
      padding: 11px 12px;
    }
  }
}

.burgerMenuIcon {
  display: none;

  @media (max-width: $largeScreens) {
    display: block;
  }
}

.logo_img {
  margin-top: 4px;
  width: 200px;
  height: 41px;
  cursor: pointer;

  @media (max-width: $largeScreens) {
    display: none;
  }
}

.navbar {
  @include displayFlexAIC;

  &:hover {
    .navbar__item {
      opacity: 0.85;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__itemActive,
  &__item {
    margin-right: 24px;

    cursor: pointer;
    @include displayFlexAIC;
    transition: 0.3s;
    opacity: 0.85;

    &:last-child {
      margin-right: 0;
    }
  }

  &__itemActive {
    opacity: 0.5;
  }

  &__icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }

  @media (max-width: $largeScreens) {
    display: none;
  }
}

.contacts {
  @include displayFlexAIC;
  gap: 20px;
  &_item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    display: grid;
    place-items: center;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: transparent;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $largeScreens) {
    display: none;
  }
}
.icon-contact {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.profile {
  @include displayFlexAIC;

  .balanse {
    cursor: pointer;
    display: flex;
    padding: 12px;
    background-color: $contsct;
    border-radius: 12px;
    @include displayFlexAIC;
    min-width: 115px;
    max-width: 200px;
    width: auto;
    //justify-content: flex-end;
    position: relative;
    overflow: clip;

    &, &::before {
      transition: .125s ease-out all;
    }


    &::before {
      z-index: -1;
      content: "";
      left: 0;
      background: linear-gradient(90deg, #4046eb 0%, #4046eb 100%);
      background-position-x: 200px;
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    span {
      margin-right: 12px;
      font-weight: 600;
    }
    &-center {
      span {
        margin-left: auto;
        margin-right: 0;
      }
    }

    svg {
      margin-left: auto;
      cursor: pointer;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
      background: transparent;
    }
  }

  &__icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;

    .lvlIconBlock {
      position: absolute;
      top: 60%;
      right: 0;
    }

    .lvlIcon {
      position: relative;
    }

    .lvlTitle {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 16px;
      transform: translate(-50%, -58%);
    }
  }
}

// ======= MOBILE ===============

.sidebar {
  z-index: 111;
  position: fixed;
  left: -100%;
  top: 0;
  padding: 23px 12px;
  width: 300px;
  background-color: $blue;
  // height: 100vh;
  // height: 100dvh;
  transition: 0.5s ease-out;

  &Active {
    position: fixed;
    z-index: 111;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &Inactive {
    position: fixed;
    z-index: 111;
    left: -100%;
    top: 0;
    bottom: 0;
  }

  &Container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &LogoBlock {
    @include displayFlexAIC;
  }

  &LogoImg {
    margin-top: 6px;
    margin-left: 23px;
    display: block;
    width: 125.5px;
    height: 25.6px;
    cursor: pointer;
  }

  &Navbar {
    margin-top: 27px;

    &:hover {
      .sidebarNavbarItem {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    &Item {
      margin-bottom: 32px;
      cursor: pointer;
      @include displayFlexAIC;
      transition: 0.3s;
      opacity: 0.9;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &Icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }
  }
}

.exitBtnSidebar {
  border: 2px solid #fff;
  opacity: 0.30000001192092896;
  margin-bottom: 32px;
  padding: 13px 37px;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }
}

.contactsMobile {
  @include displayFlexAIC;
  &_item {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $contsct;
    display: grid;
    place-items: center;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $contsctDark;
    }

    &:last-child {
      margin-right: 0;
    }
  }
  a {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $contsct;
    display: grid;
    place-items: center;
    margin-right: 8px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: $contsctDark;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
